@media (min-width: 801px) {
    body .container main {
        grid-area: main;
        padding-left: 6px;
    }

    body .container main h1.artist-name {
        color: white;
    }

    body .container main img.artist-image {
        height: 200px;
        width: 200px;
    }

    body .container main p.artist-bio {
        color: white;
    }

    .error-box {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    }

    .error-box p {
        color: black !important;
    }
}