@media (min-width: 801px) {
    header {
        display: flex;
        justify-content: space-between;
        grid-area: header;
    }

    body .container main {
        grid-area: main;
        padding-left: 6px;
    }

    body .container main h1.artist-name {
        color: white;
    }

    body .container main img.artist-image {
        height: 200px;
        width: 200px;
    }

    body .container main p.artist-bio {
        color: white;
    }

    .error-box {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
    }

    .error-box p {
        color: black !important;
    }
}

@media (max-width: 800px) {
    .container {
        grid-template-areas:
            'header'
            'nav'
            'main'
            'footer';
        grid-template-rows: 5vh 8vh 78vh 11vh;
    }
}