{% extends "base.html" %}
{% load static %}

{% block title %}
 - About
{% endblock %}

{% block individual_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<h1>Refactor of Web Application - Songify</h1>
<p>A straight forward way to browse artists of different genres & load most listened genres of logged-in users.</p>
<p>This project is a refactor of the web application I've worked on during my first year of Software Engineering studies. I've used it as an opportunity to apply the knowledge and skills I have developed from my studies and beyond, as well as discover any new possible nuances that come when working with Django and external APIs like Spotify API.</p>
<p>On top of applying what I have learned, it also served as an opportunity to allow me to get my hands on personally packaging the project so others can also run and replicate it on their own machines via Docker or manually if they please. Which also made it easy for me to work on "development environment" and "production environment". And get my hands on tech like Redis and Celery of course.</p>
<p>Overall it has been a fun "play around" project.</p>
<p>The <a href="https://github.com/nedasadamavicius/web-application" target="_blank">GitHub repository</a> holds the project as is, feel free to check it out.</p>
{% endblock %}
