{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}

{% block individual_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block nav %}
<h2>Explore</h2>
<ul class="button-group">
    {% for genre in genres %}
    <li><a href="?genre_name={{ genre }}">{{ genre|capfirst }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<!-- <div class="main-header">
    <h1>Artist library</h1>
    <p>Artists featured in {{ genre|capfirst }}</p>
</div> -->
<div class="main-header">
    <h1>Artist library</h1>
    <p>Artists featured in {{ genre|capfirst }}</p>

    {% if error_message %}
    <div class="error-box">
        {{ error_message }}
    </div>
    {% endif %}
</div>
<div class="scrollable-content">
    <ul>
        {% for artist in artists %}
        <a href="{% url 'artist' id=artist.spotify_id %}" class="artist-link">
            <li class="artist-entry">
                <div class="artist-content">
                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="artist-image">
                    <div class="artist-text">
                        <span class="artist-name">{{ artist.name }}</span>
                        <p class="artist-bio">Popularity: {{ artist.popularity }}</p>
                    </div>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footer %}
<a href="{% url 'about' %}">About</a>
{% endblock %}
