{% extends "base.html" %}
{% load static %}

{% block title %} - Home{% endblock %}

{% block header %}
  <div class="profile-card">
    {% if user_profile.image_url %}
      <a href="{{ user_profile.profile_url }}" target="_blank">
        <img src="{{ user_profile.image_url }}" alt="Profile Picture" class="profile-pic">
      </a>
    {% endif %}
    <div class="profile-details">
      <a href="{{ user_profile.profile_url }}" target="_blank" class="profile-name">
        {{ user_profile.display_name }}
      </a>
      <div class="profile-meta">
        <span class="followers">{{ user_profile.followers }} followers</span>
        •
        <span class="country">{{ user_profile.country }}</span>
      </div>
    </div>
    <a href="{% url 'spotify_logout' %}" class="logout-button">Log out</a>
  </div>
{% endblock %}

{% block individual_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block nav %}
<h2>Explore</h2>
<ul class="button-group">
    {% for genre in genres %}
        <li><a href="?genre_name={{ genre }}">{{ genre|capfirst }}</a></li>
    {% empty %}
        <li><em>No genres available</em></li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div class="main-header">
    <h1>Artist Library</h1>

    {% if not request.GET.genre_name %}
        <p>Based on your most played genre <strong>{{ top_genre|capfirst }}</strong></p>
    {% else %}
        <p>Artists featured in <strong>{{ top_genre|capfirst }}</strong></p>
    {% endif %}

    {% if error_message %}
    <div class="error-box">
        <p>{{ error_message }}</p>
        <p>Try selecting a different genre or coming back later.</p>
    </div>
    {% endif %}
</div>

{% if artists %}
<div class="scrollable-content">
    <ul>
        {% for artist in artists %}
        <a href="{% url 'artist' id=artist.spotify_id %}" class="artist-link">
            <li class="artist-entry">
                <div class="artist-content">
                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}" class="artist-image">
                    <div class="artist-text">
                        <span class="artist-name">{{ artist.name }}</span>
                        <p class="artist-bio">Popularity: {{ artist.popularity }}</p>
                    </div>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>
</div>
{% else %}
    {% if not error_message %}
    <p>No artists available for this genre.</p>
    {% endif %}
{% endif %}
{% endblock %}

{% block footer %}
    <a href="{% url 'about' %}">About</a>
{% endblock %}
