body .container main {
    grid-area: main;
    padding-left: 6px;
    height: auto;
    max-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

body .container main h1, h2, p {
    color: white;
}