{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Songify{% block title %}Base Template{% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block individual_css %}{% endblock %}
</head>

<body>

    <div class="container">
        <header>
            <div class="header-left">
                <img src="{% static 'images/Logo.png' %}" alt="Logo">
            </div>
            <div class="header-right">
                {% block header %}{% endblock %}
            </div>
        </header>

        <nav>
            {% block nav %}
            <!-- Default content if none provided -->
            <h2>Explore</h2>
            <ul class="button-group">
                <li><a href="{% url 'landing' %}">Artist Library</a></li>
            </ul>
            {% endblock %}
        </nav>

        <main>
            {% block content %}
            <!-- Default content if none provided -->
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            <!-- Default footer if none provided-->
             <a href=""></a>
            {% endblock %}
        </footer>
    </div>

</body>

</html>
